html{
  height:100%;

}

body{
  background-image: url('../img/cheese.gif');
  background-size:20%;
  /* padding-top:20px; */
  margin:auto;
  height: 100%;
}
/* center content */
.container{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header{
    border:solid orange 2px;
    background:white;
    text-align:center;
    padding:20px;  
}

#ball{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 30px auto 0; 
    background-color:#EE7600; 
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5); 
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%); 
  }

#window{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height:200px;
  background:lightgoldenrodyellow;
  padding:5px;
  border-radius: 50%;
}
/* connects to javascript */
#message{
  margin: auto;
  background: lightgoldenrodyellow;
  height:100px;
  width:100px;
  text-align:center; 
  display: inline-block;
}

/* responsive  */
@media (max-width:450px){
  #ball{
    width: 280px;
    height: 280px;
  }
  #window{
    width: 150px;
    height:150px;
  }
  #message{
    height:50px;
    width:50px;
    font-size: 12px; 
  }
  #header{
    text-align:left;
  }
  h1{
    font-size: 20px;
  }
  h4{
    font-size:14px;
  }
  body{
    background-size:50%;
  }
}