body{
  background-image: url('../img/cheese.gif');
  padding:20px;
  margin:auto;
}

#header{
    border:solid orange 2px;
    background:white;
    text-align:center;
    width:50%;
    padding:10px;
}

#ball{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
     margin: 30px auto 0; 
    /* border: solid 1px black; */
    background-color:#EE7600; 
    border-radius: 50%;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5); 
    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);  
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%); 
  }

#window{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height:200px;
  background:lightgoldenrodyellow;
  padding:5px;
  /* border: solid 1px black; */
  border-radius: 50%;
 
 
  
}

#message{
  margin: auto;
  background: lightgoldenrodyellow;
  padding-top: 10%;
  height:100px;
  width:100px;
  text-align:center; 
  display: inline-block;
  /* border:solid 1px black; */
  

  /* width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid white; */
}